@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
	font-family: 'Open Sans', sans-serif !important;
    margin: 0; 
}
.content{
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 5%;
    margin: auto;
}
div.content.col-lg-4, div.content.col-lg-3, div.content.col-lg-6{
    padding: 0;
}
.text-form{
    background: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.form{
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 15px;
}
.div-style{
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 10px;
}
.campo{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 25px;
    padding-left: 5px;
}
.right{
    float: right;
}
.left{
    float: left;
}
input[type="date"]{
    border: 1px solid #A4A4A4;
    padding: 0;
    text-align: center;
}
div.col-lg-6.ap1{
    padding-right: 3px;
}
div.col-lg-6.ap2{
    padding-left: 3px;
}
.div-btn{
    display: flex;
    justify-content: center;
}
.boton{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    border: none;
    width: 30%;
}
input.col-lg-5{
    padding: 0;
    text-align: center;
}
input.col-lg-4{
    box-sizing: border-box;
}
.mensaje{
    background: #333;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
    margin: auto; 
    margin-top: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.text-page{
    font-size: 14px;
    margin: auto;
    margin-bottom: 15px;
}

