.div-content{
	display: flex;
	overflow: hidden;
	width: 100%;
}
.div-datos{
	display: inline-block;
	border: solid 1px #333;
	cursor: pointer;
	height: 180px;
	margin: 5px;
	padding: 10px;	
	width: 49%;
}
.foto{
	float: left;
	height: 160px;
	padding-right: 10px;
	width: 25%;
}
.datos{
	display: inline-block;
	font-size: 13px;
	height: 160px;
	overflow: hidden;
	padding: 0;
	width: 75%;
	word-break: break-all;
}
.div-union{
	overflow: hidden;
	width: 100%;
}
.div-part{
	display: inline-block;
	width: 50%;
}
.div-datos:hover{
	border: 3px solid #2E2EFE;
}
.div-datos:active{
	border: 3px solid #FE2E2E;
}
.div-links{
	display: inline-block;
	justify-content: center;
	width: 22%;
}
