@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
	font-family: 'Open Sans', sans-serif !important;
    margin: 0; 
}
.box-style{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    padding: 15px;
    width: 50%;
}
textarea{
    box-sizing: border-box;
}
.div-union{
    display: flex;
    overflow: hidden;
    width: 100%;
}
.div-part{
    display: inline-block;
}
.op{
    font-size: 14px;
}
.boton{
    max-width: 25%;
    margin-top: 0 !important;
}
.boton:hover{
    cursor: pointer;
}
#esp,#historial{
    display: none;
}
table{
    border: 1px solid #333;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 80%;
}
th{
    background-color: #333;
    color: white;
    font-weight: unset;
    height: 30px;
}
td{
    border: 1px solid #333;
    font-size: 14px;
    word-break: break-all;
}
.w100{
    width: 100%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w47{
    width: 47%;
}
.w35{
    width: 35%;
}
.w33{
    width: 33.3%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w18{
    width: 18%;
}
.w5{
    width: 5%;
}
